*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: url('images/background.png') no-repeat center center/cover;
    padding-top: 100px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color:  #604343;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.input-container {
    margin-top: 10px; /* Adjust the margin as needed */
    display: flex;
    align-items: center;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0ba;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}

input{
    width: 100%; /* Ensure the input field takes the full width of its container */
    border: none;
    outline: none;
    background: #edeef0ba;
    padding: 10px;
}

button {
    margin-left: 10px;
    border: none;
    padding: 16px 30px;
    background: #ebd4d4;
    color: #604343;
    font-size: 16px;
    cursor: pointer; 
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background: url('images/sqaure.png');
    background-size: cover;
    left: 8px;
    top: 12px;
}

ul li.checked{
    color: #a2a2a2;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url('images/check.png');
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    color: #4aa247;
}